<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <section class="section-contact">
        <div class="section-title text-center">
            <h1>Contact Me!</h1>
        </div>
        <div class="content">
            <form class="contact-form d-block text-center" action="mailto:huycksl@gmail.com?subject=Portfolio Contact" method="post"
                enctype="text/plain">

                <div class="form-group">
                    <div>
                        <label>Email:</label>
                    </div>
                    <input type="text" />
                </div>


                <div class="form-group">
                    <div>
                        <label for="message">Message:</label>
                    </div>
                    <textarea name="message" rows="5" col="150"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send">
                </div>

            </form>
    </section>
    <section class="section-otherLinks mt-4">
        <h3 class="text-center">Connect with me or check out my code here:</h3>
        <div class="d-flex justify-content-around mt-5 p-2">
            <a class="connect-link" href="http://www.linkedin.com/in/spencer-l-huyck"><img src="/static/linkedin.png" alt="LinkedIn" height="150px"
                    width="150px"></a>
            <a class="connect-link" href="http://https://github.com/HuyckS"><img src="/static/github.png" alt="GitHub" height="150px"
                    width="150px"></a>
        </div>
    </section>
    </div>
</body>

</html>