<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <section class="section-skills">
        <div class="section-title text-center">
            <h1>What I've worked with:</h1>
        </div>
        <div class="skills">
            <div class="skills__box skills__box-1 border-bottom box-shadow rounded mb-3 p-2">
                <h3 class="skills__title">Languages:</h3>
                <div class="skills__logos d-flex flex-wrap">
                    <div>
                        <img src="~/static/python.png" alt="Python" height="100px" width="100px" class="m-2" name="python">
                        <label class="d-block text-center" for="python">Python</label>
                    </div>
                    <div>
                        <img src="~/static/JavaScript.png" alt="JavaScript" height="100px" width="100px" class="m-2" name="JavaScript">
                        <label class="d-block text-center" for="JavaScript">JavaScript</label>
                    </div>
                    <div>
                        <img src="~/static/csharp.png" alt="C#" height="100px" width="100px" class="m-2" name="C#">
                        <label class="d-block text-center" for="C#">C#</label>
                    </div>
                </div>
            </div>
            <div class="skills__box skills__box-2 border-bottom box-shadow rounded mb-3 p-2">
                <h3 class="skills__title">Frameworks:</h3>
                <div class="skills__logos d-flex flex-wrap">
                    <div>
                        <img src="~/static/django.png" alt="Django" name="django" height="100px" width="100px" class="m-2" class="m-2">
                        <label class="d-block text-center" for="django">Django</label>
                    </div>
                    <div>
                        <img src="~/static/react.png" alt="React" height="100px" width="100px" class="m-2" name="React">
                        <label class="d-block text-center" for="React">React</label>
                    </div>
                    <div>
                        <img src="~/static/expressjs.png" alt="Express" height="100px" width="100px" class="m-2" name="Express.js">
                        <label class="d-block text-center" for="Express.js">Express.js</label>
                    </div>
                    <div>
                        <img src="~/static/jQuery.png" alt="jQuery" height="100px" width="100px" class="m-2" name="jQuery">
                        <label class="d-block text-center" for="jQuery">jQuery</label>
                    </div>
                    <div>
                        <img src="~/static/flask.png" alt="Flask" height="100px" width="100px" class="m-2" name="Flask">
                        <label class="d-block text-center" for="Flask">Flask</label>
                    </div>
                    <div>
                        <img src="~/static/bootstrap.png" alt="Bootstrap" height="100px" width="100px" class="m-2" name="bootstrap">
                        <label class="d-block text-center" for="bootstrap">Bootstrap</label>
                    </div>

                </div>
            </div>
            <div class="skills__box skills__box-3 border-bottom box-shadow rounded mb-3 p-2">
                <h3 class="skills__title">Databases:</h3>
                <div class="skills__logos d-flex flex-wrap">
                    <div>
                        <img src="~/static/mysql.png" alt="MySQL" height="100px" width="100px" class="m-2" name="MySQL">
                        <label class="d-block text-center" for="MySQL">MySQL</label>
                    </div>
                    <div>
                        <img src="~/static/sqlite.png" alt="SQLite" height="100px" width="100px" class="m-2" name="SQLite">
                        <label class="d-block text-center" for="SQLite">SQLite</label>
                    </div>
                    <div>
                        <img src="~/static/mongodb.png" alt="MongoDB" height="100px" width="100px" class="m-2" name="MongoDB">
                        <label class="d-block text-center" for="MongoDB">MongoDB</label>
                    </div>
                </div>
            </div>
            <div class="skills__box skills__box-4 border-bottom box-shadow rounded mb-3 p-2">
                <h3 class="skills__title">Additional Skills:</h3>
                <div class="skills__logos d-flex flex-wrap">
                    <div>
                        <img src="~/static/HTML.png" alt="HTML" height="100px" width="100px" class="m-2" name="HTML">
                        <label class="d-block text-center" for="HTML">HTML</label>
                    </div>
                    <div>
                        <img src="~/static/CSS.png" alt="CSS" height="100px" width="100px" class="m-2" name="CSS">
                        <label class="d-block text-center" for="CSS">CSS</label>
                    </div>
                    <div>
                        <img src="~/static/sass.png" alt="SASS" height="100px" width="100px" class="m-2" name="SASS">
                        <label class="d-block text-center" for="SASS">SASS</label>
                    </div>
                    @* <div>
                        <img src="~/static/mongodb.png" alt="Bcrypt" height="100px" width="100px" class="m-2" name="Bcrypt">
                        <label class="d-block text-center" for="Bcrypt">Bcrypt</label>
                        </div>
                        <div>
                        <img src="~/static/mongodb.png" alt="JWT" height="100px" width="100px" class="m-2" name="JWT">
                        <label class="d-block text-center" for="JWT">JSON Web Token</label>
                        </div>
                        <div>
                        <img src="~/static/mongodb.png" alt="MongoDB" height="100px" width="100px" class="m-2" name="MongoDB">
                        <label class="d-block text-center" for="MongoDB">MongoDB</label>
                        </div> *@
                </div>
            </div>
        </div>
    </section>


</body>

</html>